<ul class="run-list">
  <li class="run-list__item">
    <span class="run-list__item__date">
      Dec 1, 2015
    </span>
    <span class="run-list__item__time">
      00:23:15
    </span>
  </li>
</ul>


<footer>
  {{#fa-stack size=2 as |s|}}
  {{s.stack-2x "circle"}}
  {{s.stack-1x "plus"}}
{{/fa-stack}}
</footer>
