<div class="app">
  <div class="top-nav">
    <div class="width-container">
      <div class="top-nav__content">
        <h2>Run Timer</h2>
      </div>
    </div>
  </div>
  <div class="app__main">
    <div class="width-container width-container__main">
      {{outlet}}
    </div>
  </div>
</div>
