<h1>New Run</h1>
<form {{action "addRun" on="submit"}}>
  <ul class="run-list">
    <li class="run-list__item">
      {{input type="text" placeholder="Run Time" value=time}}
    </li>
    <li class="run-list__item">
      {{input type="text" placeholder="Race Date" value=date}}
    </li>
    <li class="run-list__item">
      {{input type="text" placeholder="Race Notes" value=notes}}
    </li>
  </ul>

<div class="footer__new">
  <div class="footer-space">
    {{#link-to "index"}}
    <div class="footer-button__cancel">
      CANCEL
    </div>
    {{/link-to}}
  </div>
  <div class="footer-button">
    <button class="footer-button__cancel footer-button__submit">SUBMIT</button>
  </div>
</div>
</form>
